* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.carWrap {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.model3, .modelS, .modelX  {

    height: 100%;
    background-position: center;
    background-size: cover;
        scroll-snap-align: start;

}

.model3 {
    background-image: url(./model3.jpg);
}

.modelS {
    background-image: url(./models.jpg);
}

.modelX {
    background-image: url('./modelx.jpg');
}
